@font-face {
    font-family: "Anonymous Pro";
    src: url(/fonts/AnonymousPro-Regular.ttf);
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "Anonymous Pro";
    src: url(/fonts/AnonymousPro-Bold.ttf);
    font-weight: bold;
    font-display: swap;
}

* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: 'Anonymous Pro';
}

body {
    font-family: "Anonymous Pro";
    width: 100%;
    background-color: rgb(226, 226, 226)
}
  

button {
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
}


h1 {
    font-family: "Anonymous Pro", sans-serif;
    font-size: 56px;
}

h2 {
    font-family: "Anonymous Pro", sans-serif;
    font-size: 48px;
}



h3 {
    display: flex;
    font-family: "Anonymous Pro", sans-serif;
    font-size: 26px;
    padding-top: 32px;
    padding-left: 24px;
    padding-right: 24px;
    word-wrap: break-word;
}

p {
    color: #121723;
    font-size: 20px;
    font-family: Anonymous Pro;
    font-weight: 400;
    word-wrap: break-word;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 32px;
}